:root {
  --light-green: #7ed56f;
  --transparent-light-green: rgba(126, 213, 111, 0.8);
  --medium-green: #55c57a;
  --dark-green: #28b485;
  --transparent-dark-green: rgba(40, 180, 133, 0.8);
  --white: #fff;
  --grey: #777;
  --black: #000;
  --transparent-black-point-two: rgba(0, 0, 0, 0.2);
  --transparent-black-point-eight: rgba(0, 0, 0, 0.8);
}
